/* application css */
body {margin:0px;}
#main {font-size:200%;}
.hl0 {color:red;}
.p {background:yellow;border-radius: 50%;color:black;}
.tag {background:pink;border-radius: 20%;color:black;}

/* .standoff {border-radius: 10px;font-family: DFKai-SB}*/
.source {font-family: DFKai-SB;color:lightblue;}
.u {text-decoration: underline}
.book {background:#ffc;border-radius:10pt;color:black;}
.bookname {background:#fcc;border-radius:10pt;color:black;}
.bookcode {background:#cfc;border-radius:10pt;color:black;}

.verse {background:#ccf;border-radius:10pt;color:black;}
.verse:after {content:" ";background:clear;}
.verse:before {content:" ";background:clear;}